@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    text-align: center;
}
body{
    font-family: "Indie Flower", sans-serif;
    padding: 0;
    margin: 0;
    background:#edd5f5;
}
header ul{
    margin: 0;
    padding: 0;

}
 li{
    list-style-type: none;
   font-size: 17px;
   text-align: justify;

}

a{
    text-decoration: none;
    color: rgb(238, 230, 230);

}


/* **************** */




nav{
    float:left;
  overflow:visible;
    background-color:#1c081fc5 ;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    height: 61px;
}
header li{
    float: left;
    letter-spacing: 2px;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px rgb(138, 136, 136);
}
header li a{
    text-decoration: none;
    display: block;
    padding: 18px 16px;
}
header a:hover{
    color: rgb(10, 10, 10);
    background-color: rgba(238, 197, 241, 0.76);
    transition: 0.5s ease-in-out;
}
#logo{
    font-family:"Dancing Script", cursive ;
    font-weight: bold;
    float: left;
}
#logo:hover{
    text-decoration: none;
    color: rgb(238, 230, 230);
}
header input{
    float: right;
    border:none;
    width: 15%;
    height: 25px;
    margin: 12px;
    font-size: 1.2em;
    border-radius: 8px;
    font-family:"Indie Flower", sans-serif;
    
}



/*navigation*/



.grid-container {
  display: grid;
  grid-template-columns:  31% 31% 31% ;
  padding: 90px;
  grid-column-gap: 5%;

}
.grid-item {
  background-color: #D4B1D9 ;
  border: 3px solid #4B0082;
  border-radius: 8px;
  padding: 1px;
  font-size: 16px;
  text-align: center;
  float: right;

}
.text { 
  justify-content: start;
}
h1{
  text-align: center;
  font-size: 45px;
  color: #6D1580  ;
}
h2{
  font-size: 25px ;
  text-align: center;
  font-weight: bolder;

}

.pages{
    margin: 1em 1.5em;
    padding: 1px;
    border: 2px solid #4B0082;
    border-radius: 8px;
    display: block;
    background-color: #E7CEEA ;
    margin-left: auto ;
    color:#6D1580   ;
}
.hover :hover{
    background-color:#F2A7FC ;

}
a:hover{
    color: rgb(10, 10, 10);
    background-color: rgba(238, 197, 241, 0.76);
    transition: 0.5s ease-in-out;
}



/**********************menu déroulant***********************/


.submenu{
    display: none;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
.submenu li{
    border-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
    }

    .menu-html:hover{
    border-top: 5px solid #761CB8 ;
    background-color: RGBa(50, 0, 86,0.15);
}
.menu-css:hover{
    border-top: 5px solid #761CB8  ;
    background-color: RGBa(50, 0, 86,0.15);
}
.projets:hover{
        border-top: 5px solid #761CB8  ;
    background-color: RGBa(50, 0, 86,0.15);

}
nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
    }
    .menu-html .submenu{
    background-color: #A170C5 ;
}
.menu-css .submenu{
    background-color: #A170C5 ;
}
.projets .submenu{
     background-color: #A170C5 ;

}
.submenu li:hover a{
    color: #EEE;
    font-weight: bold;
}