*{
	
	text-align: center;
}

h1{
	
	color: #342673;
} 
.title{
    font-size: 3em;
    color:#342673;
    background-color: #C5EBFF;

}

table{
	width: 70%;
	margin: auto;
	border: 3px solid #88C1E0  ;
	border-collapse: collapse;
	
}
td, th{

	border: #88C1E0   4px solid;
	width: 85%;
	height: 70px;
	

}

.france{
    background-image:url('france.jpg');
	background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    width: 32%;

}
.usa{
    background-image:url('usa.jpg');
	background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    width: 32%;
}


